@charset "UTF-8";
/* === Font para os Titulos === === */
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Big+Shoulders:opsz,wght@10..72,100..900&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Figtree:ital,wght@0,300..900;1,300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend+Deca:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Poppins:wght@400;600&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* === Font para os demais textos === */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins&display=swap');

:root {
    /* === CORES PRIMÁRIAS (Marca / Destaques) === */
    --color-primary: #0f2a44;
    --color-primary-hover: #163A5F;

    /* === CTA / Ações Principais === */
    --color-cta: #2FBF71;
    --color-cta-hover: #249E5F;

    /* === Texto === */
    --color-text-main: #1E293B;
    --color-text-hover: #0F172A;
    --color-text-muted: #64748B;

    /* === Backgrounds === */
    --color-bg-main: #FFFFFF;
    --color-bg-soft: #F1F5F9;
    --color-bg-soft-hover: #E2E8F0;

    /* === Bordas / Divisores === */
    --color-border: #CBD5E1;

    /* === Estados === */
    --color-focus: #38BDF8;
    --color-disabled: #94A3B8;
}

/* === Resetando CSS e padronizando os Textos === */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body,
html {
    font-family: 'Inter', sans-serif;
}

body {
    background-color: var(--color-bg-soft);
}

h1,
h2,
h3,
h4 {
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    line-height: 1.2;
    color: var(--color-primary);
}

p {
    font-size: 1rem;
    line-height: 1.6;
}


/* === Navbar === */
nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
}

svg {
    height: 33px;
}

.nav-links-desktop {
    display: none;
}

nav > img {
    height: 40px;
}

.CTA-nav {
    height: 35px;
    padding: 10px;
    border-radius: 20px;
    border: none;
    background-color: var(--color-cta);
    color: var(--color-primary-muted);
    transition: all 0.3s;
}

.nav-links-mobile>a {
    padding-left: 12px;
    text-decoration: none;
    color: var(--color-text-main);
}

.nav-links-mobile>a:hover {
    color: var(--color-primary-hover);
}

.CTA-nav:hover {
    background-color: var(--color-cta-hover);
    color: var(--color-primary-hover);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.24);
}

/* === Header === */
header {
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.header-left-container > h1, p {
    padding-bottom: 30px;
}

.header-left-container > img {
    height: 40em;
}

.header-left-container > button {
    width: 55%;
    padding: 15px;
    border-radius: 20px;
    border: none;
    color: var(--color-text-main);
    background-color: var(--color-cta);
    transition: all 0.3s;
}

.header-left-container > button:hover {
    background-color: var(--color-cta-hover);
    color: var(--color-text-hover);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.371);
}

/* === Section-01 === */
.section-01 {
    padding: 25px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    text-align: center;
}

.section-01-container > h2 {
    padding: 0px 0px 35px;
    font-size: 1.9em;
}

.section-01-container > img {
    height: 40em;
}

.list-container {
    padding: 60px;
    margin: 0px;
    background-color: var(--color-text-hover);
    color: white;
    border: 1px solid var(--color-cta);
    border-radius: 20px;
    box-shadow: -11px 14px 0px 1px var(--color-cta);
}

/* === Section-02 === */

.section-02 {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 40px;
    padding: 25px;
}

.section-02-left-container > h2, p {
    padding-bottom: 20px;
}

.section-02 > img {
    height: 22em;
}

.section-02-list {
    list-style: none;
}

/* === Section-03 === */

.section-03 {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 40px;
    text-align: center;
}

.section-03-block-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 20px;
}

.block-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 14px;
    border: 1px solid var(--color-primary);
    padding: 20px;
    border-radius: 25px;
}

.block-items>svg {
    background-color: #2FBF71;
    height: 50px;
    padding: 10px;
    border-radius: 12px;
}

.block-items>h4 {
    font-size: 1.5em;
}

/* === Section-04 === */

.section-04 {
    padding: 25px;
    gap: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.section-04-left-container > button {
    width: 55%;
    padding: 15px;
    border-radius: 20px;
    border: none;
    color: var(--color-text-main);
    background-color: var(--color-cta);
    transition: all 0.3s;
}

.section-04-left-container > button:hover {
    background-color: var(--color-cta-hover);
    color: var(--color-text-hover);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.371);
}

.section-04-left-container > h2, p {
   padding-bottom: 20px;
} 

.section-04-left-containe > img {
    height: 40em;
}

.section-04 > button:hover {
    background-color: var(--color-cta-hover);
    color: var(--color-text-hover);
}

/* === Footer === */

footer {
    padding: 25px;
    background-color: #163A5F;
    color: white;
    margin-top: 50px;
}

.icons-footer {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: start;
}

.icons-footer>img {
    height: 30px;
}

/* === Tablet layout === */

@media (min-width: 768px) {
    /* === Header Tablet layout === */
    header {
        padding: 35px;
    }

    header>h1 {
        font-size: 2.5em;
    }

    header>p {
        font-size: 1.2em;
    }

    .header-left-container>button {
        width: 40%;
        height: 30%;
        font-size: 1em;
    }

    .section-01 {
        padding: 35px;
    }

    .section-01>h2 {
        font-size: 1.8em;
    }

    ul>li {
        font-size: 1.5em;
    }

    .section-02 {
        padding: 35px;
    }

    /* === Sections Tablet layout === */
    .section-02>h2 {
        font-size: 2.5em;
    }

    .section-02>p {
        font-size: 1.2em;
    }

    .section-03 {
        padding: 35px;
    }

    .section-03>h2 {
        font-size: 2.5em;
    }

    .section-03-block-container {
        align-items: center;
        justify-items: center;
    }

    .block-items {
        width: 60%;
    }

    .section-04 {
        padding: 35px;
    }

    .section-04>h2 {
        font-size: 2.5em;
    }

    .section-04>p {
        font-size: 1.4em;
    }

    .section-04>button {
        width: 60%;
        font-size: 1.2em;
        transition: all 0.3s;
    }

    .section-04-left-container > button:hover {
        cursor: pointer;
        background-color: var(--color-cta-hover);
        color: var(--color-text-hover);
    }
}

/* === Desktop layout === */
@media (min-width: 1400px) {

    /* === Navbar Desktop layout === */
    nav {
        padding: 20px 50px 10px;
    }

    .nav-links-mobile {
        display: none;
    }

    .nav-links-desktop {
        display: flex;
        gap: 25px;
        padding: 30px;
    }

    .nav-links-desktop> a {
        border: 1px solid var(--color-cta);
        border-radius: 20px;
        padding: 13px 20px 13px;
        text-decoration: none;
        color: var(--color-text-main);
        font-weight: 500;
        transition: all 0.3s;
    }

    .nav-links-desktop> a:hover {
        background-color: #2FBF71;
    }

/* === Header Desktop layout === */
    header {
        padding: 60px;
        flex-direction: ;
        gap: 17em;
    } 

    header > img {
        height: 40em;
    }

    .header-left-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        text-align: left;
        gap: 20px;
        height: 200px;
    }

    .header-left-container > h1 {
        font-size: 3em;
    }

    .header-left-container > p {
        font-size: 1.2em;
    }

     /* ===  Sections Desktop layout === */
     /*section01*/
    .section-01 {
        display: flex;
        flex-direction: row;
        padding: 60px;
    }

    .list-container {
       display: flex;
       flex-direction: column;
        padding: 20px;
    }

    .section-01 > img {
        height: 50em;
    }

    /*section02*/
    .section-02 {
        padding: 60px 10px 10px;
        flex-direction: row;
        gap: 30em;
        justify-content: center;
        align-items: center;
    }

    .section-02> img {
        max-height: 80vh;
        width: auto;
    }

    .section-02-left-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        text-align: left;
        gap: 20px;
        height: 200px;
        
    }

    .section-02-left-container>h2 {
        font-size: 4em;
    }

    .section-02-left-container>p {
        font-size: 1.6em;
    }

    .section-04 {
    display: flex;
    text-align: center;
    }

